apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: scale-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
spec:
  ingressClassName: nginx
  rules:
  - host: scale.local
    http:
      paths:
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: scale-backend
            port:
              number: 8000
      - path: /
        pathType: Prefix
        backend:
          service:
            name: scale-frontend
            port:
              number: 80
